<!-- chat/templates/chat/thread_detail.html -->
{% extends 'base_generic.html' %}

{% block content %}
<div class="flex flex-col h-screen" data-controller="thread">
    <!-- Header -->
    <div class="p-4 flex items-center">
        <h1 class="text-xl flex-1">{{ thread.name }} </h1>
    </div>
    <!-- Chat Content -->
    <div class="flex-1 overflow-y-auto" data-thread-target="messageList">
        {% load markdown_filters %}

        {% for message in messages %}
        <div
            class="flex gap-4 p-6 border-b border-gray-200 text-gray-800 {% if message.role == 'user' %}bg-gray-50{% endif %}">
            {% if message.role != 'user' %}
            <!-- Bot Icon -->
            <i class="fas fa-robot w-6 text-lg text-indigo-400"></i>
            {% else %}
            <!-- User Icon -->
            <i class="fas fa-user w-6 text-lg text-green-400"></i>
            {% endif %}
            <div>
                {{ message.content|markdown_to_html|enhance_markdown_html|safe }}
            </div>
        </div>
        {% empty %}
        <div class="text-center p-6" data-thread-target="emptyMessage">No messages yet.</div>
        {% endfor %}
    </div>

    <!-- Footer -->
    <div class="ion-no-border p-4 bg-white">
        <form method="POST" action="{% url 'new_message' thread.pk %}" class="flex items-center" data-thread-target="form" data-action="submit->thread#submit">
            {% csrf_token %}
            <textarea name="content" rows="1" class="flex-1 border border-gray-300 rounded-md shadow-sm p-2 resize-none" data-thread-target="messageInput"
                placeholder="Type a message..."></textarea>
            <button type="submit" class="ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Send
            </button>
        </form>
    </div>
</div>
{% endblock %}