<!-- chat/templates/base_generic.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <!-- Include Tailwind CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/bundle.js' %}"></script>
</head>

<body class="bg-gray-100">
    <main class="flex w-full h-screen">
        {% if request.user.is_authenticated %}
        <!-- Side Menu -->
        <div id="sidebar" class="flex flex-col w-80 bg-gray-900 text-white min-h-screen">
            <!-- New Chat Button -->
            <div class="p-4 flex items-center gap-3 cursor-pointer hover:bg-gray-700">
                <i class="fas fa-plus"></i>
                <a href="{% url 'create_thread' %}" class="text-white">New Chat</a>
            </div>
            <!-- Thread List -->
            <div class="border-t border-gray-700 overflow-y-visible">
                {% for sidebar_thread in threads %}
                <div
                    class="px-4 py-3 flex justify-between items-center hover:bg-gray-700 cursor-pointer {% if sidebar_thread.pk == thread.pk %}bg-gray-800{% endif %}">
                    <a href="{% url 'thread_detail' sidebar_thread.pk %}" class="text-white flex items-center gap-3">
                        <i class="fas fa-comments"></i>
                        <span>{{ sidebar_thread.name }}</span>
                    </a>
                    <div class="relative">
                        <button class="text-xs"
                            onclick="toggleMenu(event, 'menu-{{ sidebar_thread.pk }}', {{ forloop.last|lower }})">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div id="menu-{{ sidebar_thread.pk }}"
                            class="hidden pop-up-menu absolute z-10 w-48 bg-white text-gray-900 shadow-lg right-0 mt-1 {% if forloop.last %}bottom-full mb-1{% else %}top-full{% endif %}">
                            <form action="{% url 'delete_thread' pk=sidebar_thread.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit"
                                    class="flex items-center px-4 py-2 text-sm text-red-600 hover:bg-gray-100"
                                    onclick="return confirm('Are you sure you want to delete this chat?');">
                                    <i class="fas fa-trash-alt pr-2"></i>
                                    Delete chat
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Menu Footer -->
            <div class="mt-auto w-full">
                <!-- Divider -->
                <div class="border-t border-gray-700"></div>
                <!-- Settings Button -->
                <a href="{% url 'settings' %}" class="p-4 flex items-center gap-3 cursor-pointer hover:bg-gray-700">
                    <i class="fas fa-gear"></i>
                    <span>Developer Settings</span>
                </a>
                <!-- Sign Out Button -->
                <form action="{% url 'logout' %}" method="post" class="w-full">
                    {% csrf_token %}
                    <button type="submit"
                        class="p-4 w-full text-left flex items-center gap-3 hover:bg-gray-700 rounded-md">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Sign Out</span>
                    </button>
                </form>
            </div>


        </div>
        {% endif %}
        <!-- Main Content -->
        <div class="flex-1 flex-grow">
            {% block content %}{% endblock %}
        </div>
    </main>

    <script>
        // Function to toggle the pop-up menu
        function toggleMenu(event, menuId, isLast) {
            event.stopPropagation();
            var menu = document.getElementById(menuId);
            if (isLast) {
                // If it's the last thread, adjust the menu to open upwards
                menu.classList.toggle('bottom-full');
                menu.classList.toggle('mb-1');
                menu.classList.toggle('top-full');
            }
            menu.classList.toggle('hidden');
        }

        // Close the pop-up menu when clicking outside of it
        window.addEventListener('click', function () {
            document.querySelectorAll('.pop-up-menu').forEach(function (menu) {
                menu.classList.add('hidden');
            });
        });
    </script>
</body>

</html>