<!-- templates/settings/index.html -->
{% extends 'base_generic.html' %}

{% block content %}
<div class="flex flex-col h-screen overflow-y-auto">
  <!-- Header -->
  <div class="p-4 flex items-center">
    <h1 class="text-xl flex-1">Developer Settings </h1>
  </div>

  <div class="p-4" data-controller="tabs" data-tabs-active-tab-class="bg-gray-200 text-gray-800">
    <nav class="flex space-x-4" aria-label="Tabs">
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change"
        class="text-gray-600 hover:text-gray-800 rounded-md px-3 py-2 text-sm font-medium">OpenAI Passthrough</a>
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change"
        class="text-gray-600 hover:text-gray-800 rounded-md px-3 py-2 text-sm font-medium">Application</a>
    </nav>

    <div class="hidden" data-tabs-target="panel">
      <div class="p-4 grid grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-8">
        <div class="px-4 sm:px-0 md:col-span-4">
          <h2 class="text-base font-semibold leading-7 text-gray-900">API Settings</h2>
          <p class="mt-1 text-sm leading-6 text-gray-600">Do not share your API key with others, or expose it in code. In
            order to protect the security of your account, we may also automatically disable any API key that we've found
            has leaked publicly.</p>
        </div>
    
        <form class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-4">
          <div class="px-4 py-6 sm:p-8">
            <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="col-span-full">
                <label for="api_base" class="block text-sm font-medium leading-6 text-gray-900">API Base</label>
                <div class="mt-2">
                  <input id="api_base" disabled value="{{ api_base }}" name="api_base" type="text"
                    class="px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>
    
              <div class="col-span-full">
                <label for="api_key" class="block text-sm font-medium leading-6 text-gray-900">API Key</label>
                <div class="mt-2">
                  <input id="api_key" disabled value="{{ api_key }}" name="api_key" type="text"
                    class="px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    
      <div class="p-4 grid grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-8">
        <div class="px-4 sm:px-0 md:col-span-4">
          <h2 class="text-base font-semibold leading-7 text-gray-900">Install Dependencies</h2>
          <p class="mt-1 text-sm leading-6 text-gray-600">We will need <code>python-dotenv</code> and
            <code>openai</code>.
          </p>
        </div>

        <pre class="col-span-4">
            <code class="bg-slate-700 language-python">{{ code_block_install }}</code>
          </pre>
      </div>

      <div class="p-4 grid grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-8">
        <div class="px-4 sm:px-0 md:col-span-4">
          <h2 class="text-base font-semibold leading-7 text-gray-900">Create a <code>.env</code> file in your project.
          </h2>
          <p class="mt-1 text-sm leading-6 text-gray-600">Remember, never directly put secrets such as API keys directly
            in
            source code. Always use environment variables.</p>
        </div>

        <pre class="col-span-4">
            <code class="bg-slate-700 language-shell">{{ code_block_env }}</code>
          </pre>
      </div>

      <div class="p-4 grid grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-8">
        <div class="px-4 sm:px-0 md:col-span-4">
          <h2 class="text-base font-semibold leading-7 text-gray-900">Make an API call.</h2>
          <p class="mt-1 text-sm leading-6 text-gray-600">We will use this service as a drop-in replacement for OpenAI's
            API.</p>
        </div>

        <pre class="col-span-4">
            <code class="bg-slate-700 language-python">{{ code_block_api_call }}</code>
          </pre>
      </div>

      <div class="p-4 grid grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-8">
        <div class="px-4 sm:px-0 md:col-span-4">
          <h2 class="text-base font-semibold leading-7 text-gray-900">Add <code>.env</code> to your
            <code>.gitignore</code>
            file.</h2>
          <p class="mt-1 text-sm leading-6 text-gray-600">We want to make sure that our secrets never get pushed to
            source
            control.</p>
        </div>

        <pre class="col-span-4">
            <code class="bg-slate-700 language-gitignore">{{ code_block_git_ignore }}</code>
          </pre>
      </div>
    </div>

    <div class="hidden" data-tabs-target="panel">
      <div class="p-4">
        Coming soon ...
      </div>
    </div>
  </div>
</div>









</div>
{% endblock %}